.header {
  // overflow: hidden;
  &__top {
    padding: 10px 30px;
    background-color: var(--highland);
    color: white;
    display: none;
    @include tablet {
      display: block;
    }
    @include mobile {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &__top-list {
    @include flex-between;
    width: 100%;
    li {
      display: flex;
      align-items: center;
      gap: 15px;
      font-size: 16px;
    }
    @include mobile {
      li {
        gap: 10px;
      }
      .header__dropdown-list {
        li {
          font-size: 12px;
        }
      }
    }
  }
  &__container {
    display: flex;
    align-items: center;
    gap: 30px;
    @include desktop {
      align-items: start;
    }
    @include laptop {
      flex-direction: column;
      align-items: center;
    }
    @include tablet {
      display: block;
    }
  }
  &__logo {
    display: block;
    width: 205px;
    @include tablet {
      display: none;
    }
  }
  &__logo-img {
    display: block;
    width: 100%;
    height: auto;
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 30px;
    row-gap: 10px;
    flex: 1;
    @include desktop {
      flex-wrap: wrap;
      padding-top: 10px;
    }
    @include tablet {
      padding-top: 15px;
    }
  }
  &__nav-list {
    display: flex;
    align-items: center;
    gap: 25px;
    li {
      font-size: 14px;
    }
    a, span {
      transition: color 0.2s ease;
      &:hover {
        color: var(--highland);
      }
    }
    @include desktop {
      order: 3;
      flex: 1;
      justify-content: space-between;
    }
    @include laptop {
      gap: 20px;
    }
    @include tablet {
      gap: 30px;
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
      li {
        font-size: 12px;
        .dropdown__item {
          padding-top: 10px;
        }
      }
    }
    @include mobile {
      gap: 15px;
      padding-bottom: 10px;
      margin-right: -20px;
      padding-right: 20px;
    }
  }
  &__dropdown-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: color 0.2s ease;
    &:hover {
      .header__dropdown-arrow {
        transform: rotate(180deg);
      }
    }
    @include tablet {
      gap: 6px;
    }
  }
  &__nav-btn-icon {
    width: 25px;
    height: 25px;
    display: none;
    @include tablet {
      display: block;
    }
    @include mobile {
      width: 20px;
      height: 20px;
    }
  }
  &__dropdown-arrow {
    width: 11px;
    height: 6px;
    transition: transform .2s ease;
    @include tablet {
      height: 11px;
    }
    @include mobile {
      width: 6px;
      height: 6px;
    }
  }
  &__dropdown-list {
    li {
      padding: 7px 3px;
      &:not(:last-child) {
        border-bottom: 1px solid rgb(209, 209, 209);
      }
    }    
  }
  &__location {
    display: flex;
    align-items: center;
    gap: 10px;
    @include desktop {
      order: 1;
    }
    @include tablet {
      display: none;
    }
  }
  &__location-icon {
    width: 25px;
    height: 25px;
    color: var(--highland);
  }
  &__location-content {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    max-width: 155px;
    @include desktop {
      max-width: none;
    }
  }
  &__contacts {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    @include desktop {
      order: 2;
      flex-direction: row;
      gap: 50px;
      align-items: center;
    }
    @include tablet {
      display: none;
    }
  }
  &__tel {
    font-weight: 700;
    font-size: 25px;
    transition: color 0.2s ease;
    @include hover {
      color: var(--highland);
    }
  }
  &__btn-letter {
    font-size: 18px;
    text-decoration: underline;
    @include hover {
      text-decoration: none;
    }
  }
}
