.header {
  @include laptop {
    background-color: var(--wild-sand);
  }
  &__container {
    display: flex;
    align-items: center;
    gap: 30px;
    @include desktop {
      align-items: start;
    }
    @include laptop {
      align-items: center;
    }
    @include mobile {
      gap: 20px;
    }
  }
  &__btn-burger {
    position: relative;
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    span {
      display: block;
      width: 100%;
      height: 2px;
      background-color: var(--highland);
      transition: transform .2s ease, opacity .2s ease;
    }
    &.active {
      justify-content: center;
      span {
        position: absolute;
        &:first-child {
          transform: rotate(45deg)
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          transform: rotate(-45deg);
        }
      }
    }
    @include laptop {
      display: flex;
    }
  }
  &__logo {
    display: block;
    width: 205px;
    @include laptop {
      width: 150px;
    }
  }
  &__logo-img {
    width: 100%;
    height: auto;
  }
  &__nav {
    @include flex-between;
    flex: 1;
    gap: 30px;
    row-gap: 10px;
    @include desktop {
      flex-wrap: wrap;
      padding-top: 10px;
    }
    @include laptop {
      flex:none;
      padding-top: 0;
      width: fit-content;
      margin-left: auto;
    }
  }
  &__nav-list {
    display: flex;
    align-items: center;
    gap: 25px;
    a,
    span {
      transition: color 0.2s ease;
      @include hover {
        color: var(--highland);
      }
    }
    @include desktop {
      order: 3;
      flex: 1;
      justify-content: space-between;
    }
    @include laptop {
      position: fixed;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      overflow-y: scroll;
      gap: 0px;
      top: 48px;
      left: 0;
      bottom: 0;
      max-width: 500px;
      width: 100%;
      z-index: 100;
      transform: translateX(-500px);
      transition: transform .5s ease;
      &.open {
        transform: translateX(0px);
      }
    }
    @include tablet {
      top: 33px;
    }
  }
  &__nav-item {
    font-size: 14px;
    @include laptop {
      width: 100%;
      padding: 20px 10px;
      border-bottom: 1px solid var(--alto);
    }
  }
  &__spoller-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: color 0.2s ease;
    a {
      pointer-events: all;
    }
    @include hover {
      .header__dropdown-arrow {
        transform: rotate(180deg);
      }
    }
    &._spoller-active {
      .header__spoller-plus {
        span {
          &:first-child {
            transform: rotate(0deg);
          }
        }
      }
    }
    @include laptop {
      justify-content: space-between;
      width: 100%;
      font-size: 16px;
    }
  }
  &__dropdown-arrow {
    width: 11px;
    height: 6px;
    transition: transform 0.2s ease;
    @include laptop {
      display: none;
    }
  }
  &__spoller-plus {
    @include flex-center;
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    display: none;
    background-color: var(--highland);
    @include laptop {
      display: flex;
    }
    span {
      position: absolute;
      width: 15px;
      height: 2px;
      background-color: white;
      transition: transform 0.2s ease;
      &:first-child {
        transform: rotate(90deg);
      }
    }
  }
  &__spoller-item {
    padding: 7px 3px;
    &:not(:last-child) {
      border-bottom: 1px solid rgb(209, 209, 209);
    }
    @include laptop {
      font-size: 14px;
      padding: 15px 0px 15px 25px;
    }
  }
  &__subspoller-btn {
    @include flex-between;
    &._spoller-active {
      .header__spoller-plus {
        span {
          &:first-child {
            transform: rotate(0deg);
          }
        }
      }
    }
  }
  &__subspoller-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 0px;
    li {
      font-size: 12px;
      padding-left: 15px;
    }
  }
  &__location {
    display: flex;
    align-items: center;
    gap: 10px;
    @include desktop {
      order: 1;
    }
    @include laptop {
      display: none;
    }
  }
  &__location-icon {
    width: 25px;
    height: 25px;
    color: var(--highland);
  }
  &__location-content {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    max-width: 155px;
    @include desktop {
      max-width: none;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: end;
    @include desktop {
      order: 2;
      flex-direction: row;
      gap: 50px;
      align-items: center;
    }
  }
  &__tel {
    font-weight: 700;
    font-size: 25px;
    transition: color 0.2s ease;
    @include hover {
      color: var(--highland);
    }
    @include laptop {
      font-size: 20px;
    }
    @include tablet {
      font-size: 16px;
    }
  }
  &__btn-letter {
    font-size: 18px;
    text-decoration: underline;
    @include hover {
      text-decoration: none;
    }
    @include tablet {
      display: none;
    }
  }
}
