@mixin desktop {
  @media (max-width: 1599px) {
    @content;
  }
}
@mixin laptop {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 743px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 479px) {
    @content;
  }
}