:root {
  --highland: #7b9f6e;
  --wild-sand: #f5f5f5;
  --linear: #fff, linear-gradient(45deg, #7b9f6e 0%, #8bb17d 51.07%, #7b9f6e 100%),
    linear-gradient(45deg, #7b9f6e 0%, #8bb17d 51.07%, #7b9f6e 100%);
}
