<section class="about">
  <div class="container">
    <div class="about__body">
      <div class="about__img-wrapper">
        <img src="@img/text-img.svg" alt="text" class="about__img-text" />
        <img src="@img/about.jpg" alt="about" class="about__img" />
      </div>
      <div class="about__info">
        <h2 class="title title-2 about__title">О премиум ремонте квартир</h2>
        <p class="about__content">
          Премиум ремонт квартир — это высококачественное решение для тех, кто ценит роскошь и
          комфорт. Каждая деталь внимательно продумывается, чтобы создать уютную и стильную
          обстановку. Команда опытных специалистов «Центра Отделки» занимается выполнением всех
          работ с использованием только лучших материалов. Результатом является пространство,
          которое отражает индивидуальность и элегантность его владельца.
        </p>
        <p class="about__quote">
          Премиум ремонт квартир — это высококачественное решение для тех, кто ценит роскошь и
          комфорт. Каждая деталь внимательно продумывается, чтобы создать уютную и стильную
          обстановку.
        </p>
        <ul class="list about__rec-list">
          <li>
            <a href="#">Ремонт под ключ</a>
          </li>
          <li>
            <a href="#">Евроремонт</a>
          </li>
          <li>
            <a href="#">Современный ремонт</a>
          </li>
          <li>
            <a href="#">Ремонт 1 комнатной квартиры</a>
          </li>
          <li>
            <a href="#">Ремонт 2 комнатной квартиры</a>
          </li>
          <li>
            <a href="#">Ремонт пентхауса</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
