<section class="blog">
  <div class="container blog__container">
    <div>
      <div class="blog__sidebar">
        <div class="blog__profile">
          <img src="@img/mini/avatar.jpg" alt="avatar" class="blog__avatar" />
          <div>
            <p class="blog__profile-content">Автор: <span>Анастасия Горбенко</span></p>
            <p class="blog__profile-status">Эксперт по дизайну интерьеров</p>
          </div>
        </div>
        <div data-spollers="479,max" class="blog__content-state">
          <div data-spoller class="blog__content-spoller">
            <h3 class="blog__sidebar-title">Содержание статьи</h3>
            <span></span>
            <span></span>
          </div>
          <div class="blog__content-list-wrapper">
            <ul class="list blog__content-list">
              <li>
                <a href="#estimates" class="anchor">Что такое смета?</a>
              </li>
              <li>
                <a href="#views-estimates" class="anchor">Виды смет</a>
              </li>
              <li>
                <a href="#features-estimates" class="anchor">Особенности составления сметы</a>
              </li>
              <li>
                <a href="#calc-estimates" class="anchor">Способы расчета сметы</a>
              </li>
            </ul>
          </div>
          <button data-modal="modal-connection" class="btn btn-modal blog__btn blog__btn-stroke">
            <svg class="blog__btn-icon">
              <use xlink:href="img/icons/icons.svg#icon-roll"></use>
            </svg>
            <span>Заказать проект расчета</span>
          </button>
          <a href="#" class="btn blog__btn">
            <svg class="blog__btn-icon">
              <use xlink:href="img/icons/icons.svg#icon-calc"></use>
            </svg>
            <span>Онлайн калькулятор ремонта</span>
          </a>
        </div>
        <div data-da=".blog__container, 992, 2" class="blog__popular">
          <h3 class="blog__sidebar-title">Популярные статьи</h3>
          <ul class="list blog__popular-list">
            <li>
              <a href="#" class="blog__popular-state">
                <img src="@img/state.jpg" alt="state" class="blog__popular-img" />
                <div class="blog__popular-footer">
                  <h5 class="blog__popular-title">Как сделать дизайн квартиры без ошибок?</h5>
                  <div class="blog__popular-state-info">
                    <span class="blog__popular-date">19 апреля 2018 г.</span>
                    <div class="blog__popular-views">
                      <svg class="blog__popular-views-icon">
                        <use xlink:href="img/icons/icons.svg#icon-eye"></use>
                      </svg>
                      <span class="blog__popular-views-content">4,5 тыс</span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="blog__popular-state">
                <img src="@img/state.jpg" alt="state" class="blog__popular-img" />
                <div class="blog__popular-footer">
                  <h5 class="blog__popular-title">Как сделать дизайн квартиры без ошибок?</h5>
                  <div class="blog__popular-state-info">
                    <span class="blog__popular-date">19 апреля 2018 г.</span>
                    <div class="blog__popular-views">
                      <svg class="blog__popular-views-icon">
                        <use xlink:href="img/icons/icons.svg#icon-eye"></use>
                      </svg>
                      <span class="blog__popular-views-content">4,5 тыс</span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="blog__popular-state">
                <img src="@img/state.jpg" alt="state" class="blog__popular-img" />
                <div class="blog__popular-footer">
                  <h5 class="blog__popular-title">Как сделать дизайн квартиры без ошибок?</h5>
                  <div class="blog__popular-state-info">
                    <span class="blog__popular-date">19 апреля 2018 г.</span>
                    <div class="blog__popular-views">
                      <svg class="blog__popular-views-icon">
                        <use xlink:href="img/icons/icons.svg#icon-eye"></use>
                      </svg>
                      <span class="blog__popular-views-content">4,5 тыс</span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="blog__body">
      <div class="blog__head">
        <ul class="list blog__head-list">
          <li class="blog__head-item">
            <svg class="blog__head-icon">
              <use xlink:href="img/icons/icons.svg#icon-eye"></use>
            </svg>
            <p>4,5 тыс</p>
          </li>
          <li class="blog__head-item">
            <svg class="blog__head-icon">
              <use xlink:href="img/icons/icons.svg#icon-like"></use>
            </svg>
            <p>100</p>
          </li>
          <li class="blog__head-item">Время чтения:<span>5 минут</span></li>
        </ul>
        <div class="blog__head-social">
          <span class="blog__head-social-content">Поделиться: </span>
          <ul class="list blog__head-social-list">
            <li>
              <a href="#" target="_blank" class="blog__head-social-btn">
                <img src="@img/mini/vk.svg" alt="vk" class="blog__head-social-icon" />
              </a>
            </li>
            <li>
              <a href="#" target="_blank" class="blog__head-social-btn">
                <img src="@img/mini/tg.svg" alt="tg" class="blog__head-social-icon" />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div id="estimates" class="blog__item">
        <h2 class="title title-2 blog__item-title">Что такое смета?</h2>
        <p class="blog__item-content">
          Создаем уникальные авторские и индивидуальны дизайны, проектируем и делаем ремонт под
          ключ. Сдача работы точно в оговорённые сроки с гарантией 1 год. Создаем уникальные
          авторские и индивидуальны дизайны, проектируем и делаем ремонт под ключ. Сдача работы
          точно в оговорённые сроки с гарантией 1 год
        </p>
        <img src="@img/about.jpg" alt="about" class="blog__item-img" />
      </div>
      <div id="views-estimates" class="blog__item">
        <h2 class="title title-2 blog__item-title">Виды смет</h2>
        <p class="blog__item-content">
          Создаем уникальные авторские и индивидуальны дизайны, проектируем и делаем ремонт под
          ключ. Сдача работы точно в оговорённые сроки с гарантией 1 год. Создаем уникальные
          авторские и индивидуальны дизайны, проектируем и делаем ремонт под ключ. Сдача работы
          точно в оговорённые сроки с гарантией 1 год
        </p>
        <div class="swiper blog__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide blog__slide">
              <img src="@img/about.jpg" alt="about" class="blog__item-img" />
            </div>
            <div class="swiper-slide blog__slide">
              <img src="@img/about.jpg" alt="about" class="blog__item-img" />
            </div>
            <div class="swiper-slide blog__slide">
              <img src="@img/about.jpg" alt="about" class="blog__item-img" />
            </div>
            <div class="swiper-slide blog__slide">
              <img src="@img/about.jpg" alt="about" class="blog__item-img" />
            </div>
          </div>
        </div>
        <div class="blog__slider-pagination">
          <button class="btn blog__slider-pagination-btn">
            <img src="@img/about.jpg" alt="about" class="blog__slider-pagination-img" />
          </button>
          <button class="btn blog__slider-pagination-btn">
            <img src="@img/about.jpg" alt="about" class="blog__slider-pagination-img" />
          </button>
          <button class="btn blog__slider-pagination-btn">
            <img src="@img/about.jpg" alt="about" class="blog__slider-pagination-img" />
          </button>
          <button class="btn blog__slider-pagination-btn">
            <img src="@img/about.jpg" alt="about" class="blog__slider-pagination-img" />
          </button>
        </div>
      </div>
      <div id="features-estimates" class="blog__item">
        <h2 class="title title-2 blog__item-title">Особенности составления сметы</h2>
        <p class="blog__item-content">
          Создаем уникальные авторские и индивидуальны дизайны, проектируем и делаем ремонт под
          ключ. Сдача работы точно в оговорённые сроки с гарантией 1 год. Создаем уникальные
          авторские и индивидуальны дизайны, проектируем и делаем ремонт под ключ. Сдача работы
          точно в оговорённые сроки с гарантией 1 год
        </p>
        <img src="@img/about.jpg" alt="about" class="blog__item-img" />
      </div>
      <div id="calc-estimates" class="table">
        <div class="table__head">
          <span class="table__head-item">Тип квартиры</span>
          <span class="table__head-item">Площадь</span>
          <span class="table__head-item">Цена на работу</span>
          <span class="table__head-item">Цена материалов</span>
        </div>
        <div class="table__body">
          <div class="table__row">
            <span class="table__row-item">Студия</span>
            <span class="table__row-item">13-20 м. кв.</span>
            <span class="table__row-item">700 тыс. руб.</span>
            <span class="table__row-item">700 тыс. руб.</span>
          </div>
          <div class="table__row">
            <span class="table__row-item">Студия</span>
            <span class="table__row-item">13-20 м. кв.</span>
            <span class="table__row-item">700 тыс. руб.</span>
            <span class="table__row-item">700 тыс. руб.</span>
          </div>
          <div class="table__row">
            <span class="table__row-item">Студия</span>
            <span class="table__row-item">13-20 м. кв.</span>
            <span class="table__row-item">700 тыс. руб.</span>
            <span class="table__row-item">700 тыс. руб.</span>
          </div>
          <div class="table__row">
            <span class="table__row-item">Студия</span>
            <span class="table__row-item">13-20 м. кв.</span>
            <span class="table__row-item">700 тыс. руб.</span>
            <span class="table__row-item">700 тыс. руб.</span>
          </div>
          <div class="table__row">
            <span class="table__row-item">Студия</span>
            <span class="table__row-item">13-20 м. кв.</span>
            <span class="table__row-item">700 тыс. руб.</span>
            <span class="table__row-item">700 тыс. руб.</span>
          </div>
          <div class="table__row">
            <span class="table__row-item">Студия</span>
            <span class="table__row-item">13-20 м. кв.</span>
            <span class="table__row-item">700 тыс. руб.</span>
            <span class="table__row-item">700 тыс. руб.</span>
          </div>
        </div>
      </div>
      <div class="blog__head blog__head--bottom">
        <ul class="list blog__head-list">
          <li class="blog__head-item">
            <svg class="blog__head-icon">
              <use xlink:href="img/icons/icons.svg#icon-eye"></use>
            </svg>
            <p>4,5 тыс</p>
          </li>
          <li class="blog__head-item">
            <svg class="blog__head-icon">
              <use xlink:href="img/icons/icons.svg#icon-like"></use>
            </svg>
            <p>100</p>
          </li>
          <li class="blog__head-item">Время чтения:<span>5 минут</span></li>
        </ul>
        <div class="blog__head-social">
          <span class="blog__head-social-content">Поделиться: </span>
          <ul class="list blog__head-social-list">
            <li>
              <a href="#" target="_blank" class="blog__head-social-btn">
                <img src="@img/mini/vk.svg" alt="vk" class="blog__head-social-icon" />
              </a>
            </li>
            <li>
              <a href="#" target="_blank" class="blog__head-social-btn">
                <img src="@img/mini/tg.svg" alt="tg" class="blog__head-social-icon" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
