<section class="catalog">
  <div class="container">
    <h2 class="title-show">@@title</h2>
    <div class="catalog__filter">
      <h3 class="catalog__filter-title">По метражу</h3>
      <svg class="catalog__filter-arrow">
        <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
      </svg>
      <div class="catalog__filter-list catalog__filter-list--type"></div>
      <a data-da=".catalog__filter-list--type,744, 0" href="#" class="ul catalog__filter-btn"
        >33 кв. м² </a
      >
      <a data-da=".catalog__filter-list--type,744, 0" href="#" class="ul catalog__filter-btn"
        >33 кв. м² </a
      >
      <a data-da=".catalog__filter-list--type,744, 0" href="#" class="ul catalog__filter-btn"
        >33 кв. м² </a
      >
      <a data-da=".catalog__filter-list--type,744, 0" href="#" class="ul catalog__filter-btn"
        >33 кв. м² </a
      >
      <a data-da=".catalog__filter-list--type,744, 0" href="#" class="ul catalog__filter-btn"
        >33 кв. м² </a
      >
      <a data-da=".catalog__filter-list--type,744, 0" href="#" class="ul catalog__filter-btn"
        >33 кв. м² </a
      >
      <a data-da=".catalog__filter-list--type,744, 0" href="#" class="ul catalog__filter-btn"
        >33 кв. м² </a
      >
      <a data-da=".catalog__filter-list--type,744, 0" href="#" class="ul catalog__filter-btn"
        >33 кв. м² </a
      >
      <a data-da=".catalog__filter-list--type,744, 0" href="#" class="ul catalog__filter-btn"
        >33 кв. м² </a
      >
      <a data-da=".catalog__filter-list--type,744, 0" href="#" class="ul catalog__filter-btn"
        >33 кв. м² </a
      >
      <a data-da=".catalog__filter-list--type,744, 0" href="#" class="ul catalog__filter-btn"
        >33 кв. м² </a
      >
      <a data-da=".catalog__filter-list--type,744, 0" href="#" class="ul catalog__filter-btn"
        >33 кв. м² </a
      >
    </div>
    <div class="catalog__filter">
      <h3 class="catalog__filter-title">По типу</h3>
      <svg class="catalog__filter-arrow">
        <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
      </svg>
      <div class="catalog__filter-list catalog__filter-list--square"></div>
      <a data-da=".catalog__filter-list--square,744, 0" href="#" class="ul catalog__filter-btn"
        >33 кв. м² </a
      >
      <a data-da=".catalog__filter-list--square,744, 0" href="#" class="ul catalog__filter-btn"
        >33 кв. м² </a
      >
      <a data-da=".catalog__filter-list--square,744, 0" href="#" class="ul catalog__filter-btn"
        >33 кв. м² </a
      >
      <a data-da=".catalog__filter-list--square,744, 0" href="#" class="ul catalog__filter-btn"
        >33 кв. м² </a
      >
      <a data-da=".catalog__filter-list--square,744, 0" href="#" class="ul catalog__filter-btn"
        >33 кв. м² </a
      >
      <a data-da=".catalog__filter-list--square,744, 0" href="#" class="ul catalog__filter-btn"
        >33 кв. м² </a
      >
      <a data-da=".catalog__filter-list--square,744, 0" href="#" class="ul catalog__filter-btn"
        >33 кв. м² </a
      >
      <a data-da=".catalog__filter-list--square,744, 0" href="#" class="ul catalog__filter-btn"
        >33 кв. м² </a
      >
      <a data-da=".catalog__filter-list--square,744, 0" href="#" class="ul catalog__filter-btn"
        >33 кв. м² </a
      >
      <a data-da=".catalog__filter-list--square,744, 0" href="#" class="ul catalog__filter-btn"
        >33 кв. м² </a
      >
      <a data-da=".catalog__filter-list--square,744, 0" href="#" class="ul catalog__filter-btn"
        >33 кв. м² </a
      >
      <a data-da=".catalog__filter-list--square,744, 0" href="#" class="ul catalog__filter-btn"
        >33 кв. м² </a
      >
    </div>
    <div class="swiper catalog__slider">
      <div class="swiper-wrapper catalog__slider-wrapper">
        <a href="#" class="swiper-slide catalog__slide">
          <img src="@img/catalog.jpg" alt="catalog" class="catalog__img" />
          <div class="catalog__slide-footer">
            <h5 class="catalog__slide-title">Стиль модернизм</h5>
            <div class="catalog__slide-btn">Подробнее -></div>
          </div>
        </a>
        <a href="#" class="swiper-slide catalog__slide">
          <img src="@img/catalog.jpg" alt="catalog" class="catalog__img" />
          <div class="catalog__slide-footer">
            <h5 class="catalog__slide-title">Стиль модернизм</h5>
            <div class="catalog__slide-btn">Подробнее -></div>
          </div>
        </a>
        <a href="#" class="swiper-slide catalog__slide">
          <img src="@img/catalog.jpg" alt="catalog" class="catalog__img" />
          <div class="catalog__slide-footer">
            <h5 class="catalog__slide-title">Стиль модернизм</h5>
            <div class="catalog__slide-btn">Подробнее -></div>
          </div>
        </a>
        <a href="#" class="swiper-slide catalog__slide">
          <img src="@img/catalog.jpg" alt="catalog" class="catalog__img" />
          <div class="catalog__slide-footer">
            <h5 class="catalog__slide-title">Стиль модернизм</h5>
            <div class="catalog__slide-btn">Подробнее -></div>
          </div>
        </a>
        <a href="#" class="swiper-slide catalog__slide">
          <img src="@img/catalog.jpg" alt="catalog" class="catalog__img" />
          <div class="catalog__slide-footer">
            <h5 class="catalog__slide-title">Стиль модернизм</h5>
            <div class="catalog__slide-btn">Подробнее -></div>
          </div>
        </a>
        <a href="#" class="swiper-slide catalog__slide">
          <img src="@img/catalog.jpg" alt="catalog" class="catalog__img" />
          <div class="catalog__slide-footer">
            <h5 class="catalog__slide-title">Стиль модернизм</h5>
            <div class="catalog__slide-btn">Подробнее -></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
