<section class="designer">
  <div class="container designer__container">
    <img src="@img/designer.png" alt="designer" class="designer__img" />
    <div class="designer__info">
      <span class="designer__name">Анастасия Борзункова - дизайнер</span>
      <h2 class="title title-3 designer__title">
        Если вы знаете, как будет выглядеть квартира, значит мы воплотим её в жизни!
      </h2>
      <p class="designer__content">
        Наши дизайнеры воплотят в жизнь любые ваши идеи по проектированию и обустройству квартиры
        <br />
        <br />
        Мы создадим для вас настоящий рай для максимально комфортной и счастливой жизни
      </p>
      <button data-modal="modal-connection" class="btn btn-modal btn-custom btn-primary designer__btn">Бесплатная консультация дизайнера</button>
    </div>
  </div>
</section>
