<footer class="footer">
	<div class="container">
		<nav class="footer__nav">
			<ul class="list footer__list">
				<li>
					<a href="#">О компании</a>
				</li>
				<li>
					<a href="#">Отзывы</a>
				</li>
				<li>
					<a href="#">Акции и скидки</a>
				</li>
				<li>
					<a href="#">Вакансии</a>
				</li>
				<li>
					<a href="#">Рассрочка</a>
				</li>
				<li>
					<a href="#">Портфолио</a>
				</li>
				<li>
					<a href="#">Контакты</a>
				</li>
			</ul>
			<ul class="list footer__list">
				<li>
					<a href="#">О компании</a>
				</li>
				<li>
					<a href="#">Отзывы</a>
				</li>
				<li>
					<a href="#">Акции и скидки</a>
				</li>
				<li>
					<a href="#">Вакансии</a>
				</li>
				<li>
					<a href="#">Рассрочка</a>
				</li>
				<li>
					<a href="#">Портфолио</a>
				</li>
				<li>
					<a href="#">Контакты</a>
				</li>
			</ul>
			<ul class="list footer__list">
				<li>
					<a href="#">О компании</a>
				</li>
				<li>
					<a href="#">Отзывы</a>
				</li>
				<li>
					<a href="#">Акции и скидки</a>
				</li>
				<li>
					<a href="#">Вакансии</a>
				</li>
				<li>
					<a href="#">Рассрочка</a>
				</li>
				<li>
					<a href="#">Портфолио</a>
				</li>
				<li>
					<a href="#">Контакты</a>
				</li>
			</ul>
			<ul class="list footer__list">
				<li>
					<a href="#">О компании</a>
				</li>
				<li>
					<a href="#">Отзывы</a>
				</li>
				<li>
					<a href="#">Акции и скидки</a>
				</li>
				<li>
					<a href="#">Вакансии</a>
				</li>
				<li>
					<a href="#">Рассрочка</a>
				</li>
				<li>
					<a href="#">Портфолио</a>
				</li>
				<li>
					<a href="#">Контакты</a>
				</li>
			</ul>
			<ul class="list footer__list">
				<li>
					<a href="#">О компании</a>
				</li>
				<li>
					<a href="#">Отзывы</a>
				</li>
				<li>
					<a href="#">Акции и скидки</a>
				</li>
				<li>
					<a href="#">Вакансии</a>
				</li>
				<li>
					<a href="#">Рассрочка</a>
				</li>
				<li>
					<a href="#">Портфолио</a>
				</li>
				<li>
					<a href="#">Контакты</a>
				</li>
			</ul>
			<ul class="list footer__list">
				<li>
					<a href="#">О компании</a>
				</li>
				<li>
					<a href="#">Отзывы</a>
				</li>
				<li>
					<a href="#">Акции и скидки</a>
				</li>
				<li>
					<a href="#">Вакансии</a>
				</li>
				<li>
					<a href="#">Рассрочка</a>
				</li>
				<li>
					<a href="#">Портфолио</a>
				</li>
				<li>
					<a href="#">Контакты</a>
				</li>
			</ul>
			<ul class="list footer__list">
				<li>
					<a href="#">О компании</a>
				</li>
				<li>
					<a href="#">Отзывы</a>
				</li>
				<li>
					<a href="#">Акции и скидки</a>
				</li>
				<li>
					<a href="#">Вакансии</a>
				</li>
				<li>
					<a href="#">Рассрочка</a>
				</li>
				<li>
					<a href="#">Портфолио</a>
				</li>
				<li>
					<a href="#">Контакты</a>
				</li>
			</ul>
			<ul class="list footer__list">
				<li>
					<a href="#">О компании</a>
				</li>
				<li>
					<a href="#">Отзывы</a>
				</li>
				<li>
					<a href="#">Акции и скидки</a>
				</li>
				<li>
					<a href="#">Вакансии</a>
				</li>
				<li>
					<a href="#">Рассрочка</a>
				</li>
				<li>
					<a href="#">Портфолио</a>
				</li>
				<li>
					<a href="#">Контакты</a>
				</li>
			</ul>
		</nav>
		<div class="footer__bottom">
			<p class="footer__copyright">COPYRIGHT © 2024 domain.ru, все права защищены. </p>
			<a href="#" class="footer__politic">Политика конфиденциальности</a>
		</div>
	</div>
</footer>