<header class="header">
  <div class="container header__container">
    <button class="btn header__btn-burger" id="btn-burger">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <a href="#" class="header__logo">
      <img src="@img/logo.svg" alt="Logo" class="header__logo-img" />
    </a>
    <nav class="header__nav">
      <ul data-spollers="993,max" class="list header__nav-list" id="burger">
        <li class="dropdown header__nav-item">
          <div data-spoller class="btn header__spoller-btn">
            <a href="#">Ремонт</a>
            <div class="header__spoller-plus">
              <span></span>
              <span></span>
            </div>
            <svg class="header__dropdown-arrow">
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </div>
          <div class="dropdown__item">
            <div class="dropdown__body">
              <ul class="list">
                <li class="dropdown header__spoller-item">
                  <div data-spoller class="header__subspoller-btn">
                    <a href="#">Кнопка выпадающего меню</a>
                    <div class="header__spoller-plus">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <div class="dropdown__item">
                    <div class="dropdown__body">
                      <ul class="list header__subspoller-list">
                        <li>
                          <a href="#">Подjijijijiменю</a>
                        </li>
                        <li>
                          <a href="#">Подменю</a>
                        </li>
                        <li>
                          <a href="#">Подменю</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="header__spoller-item">
                  <a href="#">Ссылка на страницу</a>
                </li>
                <li class="header__spoller-item">
                  <a href="#">Ссылка на страницу</a>
                </li>
                <li class="header__spoller-item">
                  <a href="#">Ссылка на страницу</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="dropdown header__nav-item">
          <div data-spoller class="btn header__spoller-btn">
            <a href="#">Дизайн</a>
            <div class="header__spoller-plus">
              <span></span>
              <span></span>
            </div>
            <svg class="header__dropdown-arrow">
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </div>
          <div class="dropdown__item">
            <div class="dropdown__body">
              <ul class="list">
                <li class="dropdown header__spoller-item">
                  <div data-spoller class="header__subspoller-btn">
                    <a href="#">Кнопка выпадающего меню</a>
                    <div class="header__spoller-plus">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <div class="dropdown__item">
                    <div class="dropdown__body">
                      <ul class="list header__subspoller-list">
                        <li>
                          <a href="#">Подjijijijiменю</a>
                        </li>
                        <li>
                          <a href="#">Подменю</a>
                        </li>
                        <li>
                          <a href="#">Подменю</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="header__spoller-item">
                  <a href="#">Ссылка на страницу</a>
                </li>
                <li class="header__spoller-item">
                  <a href="#">Ссылка на страницу</a>
                </li>
                <li class="header__spoller-item">
                  <a href="#">Ссылка на страницу</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="dropdown header__nav-item">
          <div data-spoller class="btn header__spoller-btn">
            <a href="#">Стили</a>
            <div class="header__spoller-plus">
              <span></span>
              <span></span>
            </div>
            <svg class="header__dropdown-arrow">
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </div>
          <div class="dropdown__item">
            <div class="dropdown__body">
              <ul class="list">
                <li class="dropdown header__spoller-item">
                  <div data-spoller class="header__subspoller-btn">
                    <a href="#">Кнопка выпадающего меню</a>
                    <div class="header__spoller-plus">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <div class="dropdown__item">
                    <div class="dropdown__body">
                      <ul class="list header__subspoller-list">
                        <li>
                          <a href="#">Подjijijijiменю</a>
                        </li>
                        <li>
                          <a href="#">Подменю</a>
                        </li>
                        <li>
                          <a href="#">Подменю</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="header__spoller-item">
                  <a href="#">Ссылка на страницу</a>
                </li>
                <li class="header__spoller-item">
                  <a href="#">Ссылка на страницу</a>
                </li>
                <li class="header__spoller-item">
                  <a href="#">Ссылка на страницу</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="dropdown header__nav-item">
          <button class="btn header__dropdown-btn">
            <span>О нас</span>
            <svg class="header__dropdown-arrow">
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </li>
        <li class="dropdown header__nav-item">
          <button class="btn header__dropdown-btn">
            <span>Оплата</span>
            <svg class="header__dropdown-arrow">
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </li>
        <li class="header__nav-item">
          <a href="#">Портфолио</a>
        </li>
        <li class="header__nav-item">
          <a href="#">Акции</a>
        </li>
        <li class="header__nav-item">
          <a href="#">Блог</a>
        </li>
      </ul>
      <div class="header__location">
        <svg class="header__location-icon">
          <use xlink:href="img/icons/icons.svg#icon-location"></use>
        </svg>
        <p class="header__location-content">1-й Нагатинский пр., 2, стр. 7. Офис 402</p>
      </div>
      <div class="header__contacts">
        <a href="tel:89000000000" class="header__tel">8 (900) 000-00-00</a>
        <button class="btn header__btn-letter">Оставить заявку</button>
      </div>
    </nav>
  </div>
</header>
