<section class="middle-price">
  <div class="container middle-price__container">
    <div class="middle-price__info">
      <h2 class="title title-2 middle-price__title">
        Средняя стоимость премиум ремонта по площади квартиры
      </h2>
      <p class="middle-price__content">
        Премиум ремонт квартир — это высококачественное решение для тех, кто ценит роскошь и
        комфорт. Каждая деталь внимательно продумывается, чтобы создать уютную и стильную
        обстановку. Команда опытных специалистов «Центра Отделки» занимается выполнением всех работ
        с использованием только лучших материалов.
      </p>
      <div class="table middle-price__table">
        <div class="table__head">
          <span class="table__head-item">Тип квартиры</span>
          <span class="table__head-item">Площадь</span>
          <span class="table__head-item">Цена на работу</span>
          <span class="table__head-item">Цена материалов</span>
        </div>
        <div class="table__body">
          <div class="table__row">
            <span class="table__row-item">Студия</span>
            <span class="table__row-item">13-20 м. кв.</span>
            <span class="table__row-item">700 тыс. руб.</span>
            <span class="table__row-item">700 тыс. руб.</span>
          </div>
          <div class="table__row">
            <span class="table__row-item">Студия</span>
            <span class="table__row-item">13-20 м. кв.</span>
            <span class="table__row-item">700 тыс. руб.</span>
            <span class="table__row-item">700 тыс. руб.</span>
          </div>
          <div class="table__row">
            <span class="table__row-item">Студия</span>
            <span class="table__row-item">13-20 м. кв.</span>
            <span class="table__row-item">700 тыс. руб.</span>
            <span class="table__row-item">700 тыс. руб.</span>
          </div>
          <div class="table__row">
            <span class="table__row-item">Студия</span>
            <span class="table__row-item">13-20 м. кв.</span>
            <span class="table__row-item">700 тыс. руб.</span>
            <span class="table__row-item">700 тыс. руб.</span>
          </div>
          <div class="table__row">
            <span class="table__row-item">Студия</span>
            <span class="table__row-item">13-20 м. кв.</span>
            <span class="table__row-item">700 тыс. руб.</span>
            <span class="table__row-item">700 тыс. руб.</span>
          </div>
          <div class="table__row">
            <span class="table__row-item">Студия</span>
            <span class="table__row-item">13-20 м. кв.</span>
            <span class="table__row-item">700 тыс. руб.</span>
            <span class="table__row-item">700 тыс. руб.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="middle-price__column">
      <div class="middle-price__img-wrapper">
        <img src="@img/text-img-price.svg" alt="text" class="middle-price__img-text" />
        <img src="@img/middle-price.jpg" alt="middle-price" class="middle-price__img" />
      </div>
      <div class="middle-price__gallery">
        <h5 class="middle-price__gallery-title">Мы в YouTube</h5>
        <div class="middle-price__gallery-body">
          <a
            href="https://www.youtube.com/watch?v=y2emL1fMRyY&t=2513s"
            data-fancybox="video-gallery"
            class="middle-price__gallery-btn"
          >
            <img
              src="https://i.ytimg.com/vi/y2emL1fMRyY/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDm8pwg_pXH-tW0S85yv6hEE-p78A"
              alt="previews"
              class="middle-price__gallery-img"
            />
          </a>
          <a
            href="https://www.youtube.com/watch?v=y2emL1fMRyY&t=2513s"
            data-fancybox="video-gallery"
            class="middle-price__gallery-btn"
          >
            <img
              src="https://i.ytimg.com/vi/y2emL1fMRyY/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDm8pwg_pXH-tW0S85yv6hEE-p78A"
              alt="previews"
              class="middle-price__gallery-img"
            />
          </a>
          <a
            href="https://www.youtube.com/watch?v=y2emL1fMRyY&t=2513s"
            data-fancybox="video-gallery"
            class="middle-price__gallery-btn"
          >
            <img
              src="https://i.ytimg.com/vi/y2emL1fMRyY/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDm8pwg_pXH-tW0S85yv6hEE-p78A"
              alt="previews"
              class="middle-price__gallery-img"
            />
          </a>
          <a
            href="https://www.youtube.com/watch?v=y2emL1fMRyY&t=2513s"
            data-fancybox="video-gallery"
            class="middle-price__gallery-btn"
          >
            <img
              src="https://i.ytimg.com/vi/y2emL1fMRyY/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDm8pwg_pXH-tW0S85yv6hEE-p78A"
              alt="previews"
              class="middle-price__gallery-img"
            />
          </a>
          <a
            href="https://www.youtube.com/watch?v=y2emL1fMRyY&t=2513s"
            data-fancybox="video-gallery"
            class="middle-price__gallery-btn"
          >
            <img
              src="https://i.ytimg.com/vi/y2emL1fMRyY/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDm8pwg_pXH-tW0S85yv6hEE-p78A"
              alt="previews"
              class="middle-price__gallery-img"
            />
          </a>
          <a
            href="https://www.youtube.com/watch?v=y2emL1fMRyY&t=2513s"
            data-fancybox="video-gallery"
            class="middle-price__gallery-btn"
          >
            <img
              src="https://i.ytimg.com/vi/y2emL1fMRyY/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDm8pwg_pXH-tW0S85yv6hEE-p78A"
              alt="previews"
              class="middle-price__gallery-img"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
