<section class="offer">
  <div class="container offer__container">
    <div class="offer__info">
      <h2 class="title title-3 offer__title">
        У вас есть смета от другой компании? Проведем аудит
      </h2>
      <p class="offer__content">Пройдите опрос и получите расчет на WhatsApp или Telegram</p>
    </div>
    <div class="offer__buttons">
      <button data-modal="modal-connection" class="btn btn-modal btn-custom btn-primary offer__btn">Проверить смету</button>
      <button data-modal="modal-connection" class="btn btn-modal btn-custom btn-stroke offer__btn">Запись на замер</button>
    </div>
  </div>
</section>
