<section class="stages-work">
  <div class="container">
    <div class="stages-work__body">
      <div class="stages-work__info">
        <h2 class="title title-2 stages-work__title">Как заказать премиальный ремонт?</h2>
        <p class="stages-work__content">
          Премиум ремонт квартир — это высококачественное решение для тех, кто ценит роскошь и
          комфорт. Каждая деталь внимательно продумывается, чтобы создать уютную и стильную
          обстановку. Команда опытных специалистов «Центра Отделки» занимается выполнением всех
          работ с использованием только лучших материалов. Результатом является пространство,
          которое отражает индивидуальность и элегантность его владельца.
        </p>
        <img src="@img/stages-work.jpg" alt="stages-work" class="stages-work__img" />
      </div>
      <div class="stages-work__main">
        <h2 class="title title-2 stages-work__title">Этапы работ</h2>
        <ul class="list stages-work__list">
          <li class="stages-work__item active">
            <h5 class="stages-work__item-title">Заголовок 1</h5>
            <p class="stages-work__item-content">
              Мы фиксируем сумму в смете и не увеличиваем стоимость в процессе ремонта, если только
              заказчик не меняет объем и характер работ
            </p>
          </li>
          <li class="stages-work__item">
            <h5 class="stages-work__item-title">Заголовок 1</h5>
            <p class="stages-work__item-content">
              Мы фиксируем сумму в смете и не увеличиваем стоимость в процессе ремонта, если только
              заказчик не меняет объем и характер работ
            </p>
          </li>
          <li class="stages-work__item">
            <h5 class="stages-work__item-title">Заголовок 1</h5>
            <p class="stages-work__item-content">
              Мы фиксируем сумму в смете и не увеличиваем стоимость в процессе ремонта, если только
              заказчик не меняет объем и характер работ
            </p>
          </li>
          <li class="stages-work__item">
            <h5 class="stages-work__item-title">Заголовок 1</h5>
            <p class="stages-work__item-content">
              Мы фиксируем сумму в смете и не увеличиваем стоимость в процессе ремонта, если только
              заказчик не меняет объем и характер работ
            </p>
          </li>
          <li class="stages-work__item">
            <h5 class="stages-work__item-title">Заголовок 1</h5>
            <p class="stages-work__item-content">
              Мы фиксируем сумму в смете и не увеличиваем стоимость в процессе ремонта, если только
              заказчик не меняет объем и характер работ
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
