<section class="tariff">
  <div class="container">
    <h2 class="title title-2 tariff__title">Тарифы на премиум ремонт квартир</h2>
    <p class="tariff__content">
      Премиум ремонт квартир — это высококачественное решение для тех, кто ценит роскошь и комфорт.
      Каждая деталь внимательно продумывается, чтобы создать уютную и стильную обстановку. Команда
      опытных специалистов «Центра Отделки» занимается выполнением всех работ с использованием
      только лучших материалов.
    </p>
    <div class="swiper tariff__slider">
      <div class="swiper-wrapper tariff__slider-wrapper">
        <div class="swiper-slide tariff__slide">
          <div class="tariff__head">
            <span class="tariff__num">01</span>
            <h5 class="tariff__card-title">Эконом</h5>
          </div>
          <span class="tariff__square">Работы - от 12 000 ₽/м²</span>
          <p class="tariff__card-content">
            Решение для тех, кто хочет все современное и увидеть результат до начала работ
          </p>
          <div class="swiper tariff__slider-gallery">
            <button class="btn tariff__slider-btn tariff__slider-btn--prev">
              <svg class="tariff__slider-arrow">
                <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
              </svg>
            </button>
            <button class="btn tariff__slider-btn tariff__slider-btn--next">
              <svg class="tariff__slider-arrow">
                <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
              </svg>
            </button>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="@img/tariff.jpg" alt="tariff" class="tariff__img" />
              </div>
              <div class="swiper-slide">
                <img src="@img/tariff.jpg" alt="tariff" class="tariff__img" />
              </div>
              <div class="swiper-slide">
                <img src="@img/tariff.jpg" alt="tariff" class="tariff__img" />
              </div>
            </div>
          </div>
          <button
            data-modal="modal-connection"
            class="btn btn-custom btn-primary btn-modal tariff__card-btn"
          >
            Записаться на замер
          </button>
        </div>
        <div class="swiper-slide tariff__slide">
          <div class="tariff__head">
            <span class="tariff__num">01</span>
            <h5 class="tariff__card-title">Эконом</h5>
          </div>
          <span class="tariff__square">Работы - от 12 000 ₽/м²</span>
          <p class="tariff__card-content">
            Решение для тех, кто хочет все современное и увидеть результат до начала работ
          </p>
          <div class="swiper tariff__slider-gallery">
            <button class="btn tariff__slider-btn tariff__slider-btn--prev">
              <svg class="tariff__slider-arrow">
                <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
              </svg>
            </button>
            <button class="btn tariff__slider-btn tariff__slider-btn--next">
              <svg class="tariff__slider-arrow">
                <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
              </svg>
            </button>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="@img/tariff.jpg" alt="tariff" class="tariff__img" />
              </div>
              <div class="swiper-slide">
                <img src="@img/tariff.jpg" alt="tariff" class="tariff__img" />
              </div>
              <div class="swiper-slide">
                <img src="@img/tariff.jpg" alt="tariff" class="tariff__img" />
              </div>
            </div>
          </div>
          <button
            data-modal="modal-connection"
            class="btn btn-custom btn-primary btn-modal tariff__card-btn"
          >
            Записаться на замер
          </button>
        </div>
        <div class="swiper-slide tariff__slide">
          <div class="tariff__head">
            <span class="tariff__num">01</span>
            <h5 class="tariff__card-title">Эконом</h5>
          </div>
          <span class="tariff__square">Работы - от 12 000 ₽/м²</span>
          <p class="tariff__card-content">
            Решение для тех, кто хочет все современное и увидеть результат до начала работ
          </p>
          <div class="swiper tariff__slider-gallery">
            <button class="btn tariff__slider-btn tariff__slider-btn--prev">
              <svg class="tariff__slider-arrow">
                <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
              </svg>
            </button>
            <button class="btn tariff__slider-btn tariff__slider-btn--next">
              <svg class="tariff__slider-arrow">
                <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
              </svg>
            </button>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="@img/tariff.jpg" alt="tariff" class="tariff__img" />
              </div>
              <div class="swiper-slide">
                <img src="@img/tariff.jpg" alt="tariff" class="tariff__img" />
              </div>
              <div class="swiper-slide">
                <img src="@img/tariff.jpg" alt="tariff" class="tariff__img" />
              </div>
            </div>
          </div>
          <button
            data-modal="modal-connection"
            class="btn btn-custom btn-primary btn-modal tariff__card-btn"
          >
            Записаться на замер
          </button>
        </div>
        <div class="swiper-slide tariff__slide">
          <div class="tariff__head">
            <span class="tariff__num">01</span>
            <h5 class="tariff__card-title">Эконом</h5>
          </div>
          <span class="tariff__square">Работы - от 12 000 ₽/м²</span>
          <p class="tariff__card-content">
            Решение для тех, кто хочет все современное и увидеть результат до начала работ
          </p>
          <div class="swiper tariff__slider-gallery">
            <button class="btn tariff__slider-btn tariff__slider-btn--prev">
              <svg class="tariff__slider-arrow">
                <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
              </svg>
            </button>
            <button class="btn tariff__slider-btn tariff__slider-btn--next">
              <svg class="tariff__slider-arrow">
                <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
              </svg>
            </button>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="@img/tariff.jpg" alt="tariff" class="tariff__img" />
              </div>
              <div class="swiper-slide">
                <img src="@img/tariff.jpg" alt="tariff" class="tariff__img" />
              </div>
              <div class="swiper-slide">
                <img src="@img/tariff.jpg" alt="tariff" class="tariff__img" />
              </div>
            </div>
          </div>
          <button
            data-modal="modal-connection"
            class="btn btn-custom btn-primary btn-modal tariff__card-btn"
          >
            Записаться на замер
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
