.slider-btn {
  position: absolute;
  top: calc(50% - 17px);
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--highland);
  color: white;
  transition:
    color 0.2s ease,
    background-color 0.2s ease;
  z-index: 10;
  &--prev {
    transform: rotate(180deg);
  }
  @include hover {
    color: var(--highland);
    background-color: white;
  }
  &__arrow {
    width: 13px;
    height: 13px;
  }
}
