.dropdown {
  cursor: pointer;
  position: relative;
  @include hover {
    .dropdown__item {
      transform: translateY(0px) scale(1);
      opacity: 1;
      visibility: visible;
    }
  }
  &__item {
    position: absolute;
    align-self: start;
    padding-top: 10px;
    width: auto;
    transform: translateY(20px) scale(0.5);
    visibility: hidden;
    opacity: 0;
    transition:
      transform 0.2s ease,
      visibility 0.2s ease,
      opacity 0.2s ease;
    z-index: 100;
    @include laptop {
      position: static;
      transform: translateY(0px) scale(1);
      opacity: 1;
      visibility: visible;
      padding: 0;
    }
    .dropdown {
      @include hover {
        .dropdown__item {
          transform: translateY(0px) scale(1) !important;
          opacity: 1 !important;
          visibility: visible !important;
        }
      }
    }
    .dropdown__item {
      transform: translateY(20px) scale(0.5) !important;
      visibility: hidden !important;
      opacity: 0 !important;
      @include laptop {
        position: static;
        transform: translateY(0px) scale(1) !important;
        opacity: 1 !important;
        visibility: visible !important;
        padding: 0;
      }
    }
  }
  &__body {
    width: 100%;
    background-color: white;
    border: 1px solid rgb(209, 209, 209);
    white-space: nowrap;
    color: black;
    @include laptop {
      border: none;
      white-space: normal;
      background-color: transparent;
    }
    .dropdown {
      &__item {
        padding-top: 0;
        top: -1px;
        max-width: 220px;
        width: 100%;
        left: 100%;
        @include laptop {
          max-width: none;
        }
      }
    }
  }
}
